<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1> Мой кот Василий! </h1>
<img height="350px", weidth="350px" src="https://static5.depositphotos.com/1000270/486/i/600/depositphotos_4869272-stock-photo-bengal-cat-in-light-brown.jpg"/>
<p> Привет, я очень, <strong>красивый кот!</strong> </p>
<p> В настоящее время в мире насчитывается около 600 млн <em>домашних кошек</em>.</p>
  <p> Выведено около 200 пород, от <mark>длинношёрстных (персидская кошка)</mark> до <del>лишённых шерсти (сфинксы)</del>. </p>
</body>
</html>



